.multipleListMain {
  user-select: none;
  font-size: 20px;
  padding: 12px;
  box-shadow: 0 0 2px 1px #333;
  background: #595959;
  margin-top: 9px;
  font-weight: bold;
  text-shadow:
 -2px -2px 0 #222,
  0   -2px 0 #222,
  2px -2px 0 #222,
  2px  0   0 #222,
  2px  2px 0 #222,
  0    2px 0 #222,
 -2px  2px 0 #222,
 -2px  0   0 #222;
}

.multipleListMain:hover {
  cursor: pointer;
}

.multipleListName {
  font-size: 22px;
  padding-bottom: 4px;
  padding-left: 9px;
  text-align: left;
}

.multipleListAll {
  height: 34px;
  background: #666;
  border: 2px solid #111;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 2px;
  color: #ffd700;
}

.multipleList {
  background: #777;
  border: 2px solid #111;
  border-radius: 6px;
  position: relative;
  z-index: 8;
  overflow: hidden;
}

.multipleListElement {
  padding: 4px;
  border-bottom: 1px solid #444;
}

.multipleListElementChosen {
  padding: 4px;
  border-bottom: 1px solid #444;
  background: #666;
  color: #ffd700
}

.multipleListElement:hover {
  background: #444;
  color: #ffd700;
}

.multipleListHideTrigger {
  padding: 4px;
  background: #666;
  border-top: 2px solid #111;
  color: #fff6c8;
}
